.header-list{
    display: flex;
    list-style: none;
    border: solid black 1px;
    margin: 10px;
}
.header-item{
    margin: 10px;
    flex-grow: 1;
    text-align: center;
}
.scan-icon{
    height: 50px;
    width: 50px;
}
.scanner-button{
    text-align: center;
}
.validator-container{
    text-align: center;
}
.generator-container{
    padding: 10px 20px 10px 20px;
}
.qr-generated{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.qr-image{
    width: 250px;
}
.save-button{
    width: 100px;
}